/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

/**
* * Initial block look
*/
.wp-block-cgb-block-wp-getty-images {
  background: #f3f3f4; 
  min-height: 240px;
  .logo {
    width: 140px;
    margin: 0 auto;    
    padding-top: 60px;
    padding-bottom: 20px;
    svg{
      width: 134px;
      height: auto;
      margin-right:6px;
    }
  }
}

.getty-search-container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 40px;    
  input {
    border-radius: 0 !important;
    border: none !important;
    line-height: 2em;
    height:39px;
  }
  button {
    height: 40px;
    border: none;
    background: #ededed;
    padding-left: 9px;
    font-size: 18px;      
    @media only screen and (max-width: 768px) {
      height: 46px;
    }
  }
}

/**
* * Modal
*/
.getty-images-modal {
  
  width: 90%;
  margin: 0 auto;
  height: 90vh;
  margin-top: 5vh;  

  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .g-header {
    position: sticky; 
    top: 0;
    padding-top: 10px; 
    z-index: 21; 
    background: #fff; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .getty-search-container{
      grid-template-columns: 1fr 40px auto;
      .getty-modal-close{
        margin-left: 10px;
        font-size: 14px;
        background-color: #555;
        color: #f1f1f1;
        transition: all ease 0.15s;
        &:hover{
          background-color: #323232;
        }
      }
    }
  }

  .logo {  
    svg{
      width: 134px;
      height: auto;
      @media only screen and (max-width: 640px) {
        width: 34px;
      }
    }
  }

  .filters-menu {
    position: sticky; 
    top: 50px; 
    background: #fff; 
    z-index: 30; 
    width: 100%; 
    float: left;
  }

  .getty-search-container {
    max-width: 100%;
    .getty-search-input {
      .components-base-control__field {
        margin-bottom: 0;
        input {
          background: #f8f8f8;
          font-size: 13px;
          height:39px;
        }
      }
    }
    button {
      border: none;
      box-shadow: none;
      height: 39px;
      line-height: 40px;
      background: #f1f1f1;
      border-radius: 0;        
    }
    @media only screen and (max-width: 768px) {
      max-width: 100%;  
    }
  }

  .components-modal__header {
    display: none;
  }
  
  .components-modal__content {
    padding-bottom:0;
  }

  .getty-image-container {
    flex: 0 1 33.33%;
    padding-bottom: 7px;
    padding-right: 7px;
    img{
      opacity: 0.9;
      transition: opacity 0.4s;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
    &.active {
      img {
        border: 3px solid #52d352;
        opacity: 0.5;
      }
    }
  }

  .getty-images-content {
    width: 100%;
    float: right;
    display: flex;
    transition: all .4s;
    &.open {
      width: calc( 100% - 260px );
    }
    .getty-images-container {
      flex:1 1 auto;
      padding:25px 15px;
      overflow-y: scroll;
    }
    .getty-images-sidebar {
      transition: all .4s;
      flex:0 1 auto;
      min-width: 0;
      &.active {
        min-width: 50%;
        padding:25px 15px;
        border-left:1px solid #d6d6d6;
      }
    }
    &.show-details{
      .getty-images-container {
        flex:0 1 auto;
      }
      .getty-images-sidebar {
        flex:0 1 auto;
      }
    }
  }

  .getty-image-details {
    position: sticky;
    top: 60px;    
  }
  .getty-image-details_header > p{
    margin-top:0;
    margin-bottom:0;
  }
  .getty-images-archive {
    display: flex;
    flex-wrap: wrap;
  }
  button.getty-search-btn-more {
    box-sizing: border-box;
    display: block;
    height: 2.25em;
    margin: 14px auto 0;
    
    padding: 0.6em 2em 2em;
    background-color: #fff;
    border: 1px solid #ccc;
    
    text-align: center;
    color: #333;
    white-space: nowrap;
    line-height: 1.4;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    
    transition:
      width 0.1s ease,
      height 0.4s ease,
      border-width 0.4s ease,
      border-radius 0.4s ease,
      border-color 0.4s ease,
      padding 0.4s ease;
    
    &:focus {
      outline: none;
      border-color: #DDD;
    }
    &:hover {
      background: #FAFAFA;
    }
    
    &.loading {
      height: 24px;
      width: 24px;
      padding: 0;
      
      border-width: 2px;
      border-radius: 17px;
      border-color:
        #eee #eee #eee #999;
      background: #fff;
      
      font-size: 0;
      color: transparent;
      pointer-events: none;
      
      animation: spin 1.2s infinite linear;
    }    
  }
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .downloading-loader {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255,0.9);
    width: 100%;
    height: 100%;
    .letter-loadind {
      width: 98px;
    }
  }

  .components-modal__filters {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    max-width: 100%;
    z-index: 10;
    background: #fff;
    transition: all 0.6s;
    .components-button.is-default {
      background: none;
      border: none; 
    }
    &.open{
      width: 260px;
      height: auto;
      opacity: 1;
    }
  }

  .sort-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 260px 1fr;    
    border-bottom: 1px solid #f2f2f2;
    @media only screen and (max-width: 768px) {
      ul {
        display: none;
      }
    }
    @media only screen and (min-width: 769px) {
      ul {
        display: block;
      }
    }
    >button {
      border: none;
      background: none;
      box-shadow: none;
      min-height: 51px;
      @media only screen and (min-width: 769px) {
        border-right: 1px solid #cecece;
      }
      &.open {
        color: #fff;
        background: #666;
        svg {
          polygon, circle {
            fill: #fff;
          }
        }
      }
      &:focus { outline:0; }
    }

    ul {
      float: right;
      li {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        button.active {
          background: #666;
          color: #fff;
          border-radius: 6px;
          padding: 6px 25px;
        }
      }
    }
    svg {
      margin-right: 15px;
      margin-left: 15px;      
    }
    select {
      margin-top: 15px;
      margin-left: 20px;
      width: 100%;
    }    
  }

  @media only screen and (max-width: 768px) {
    .cats-segments {
      display: block;
    }
  }
  @media only screen and (min-width: 769px) {
    .cats-segments {
      display: none;
    }
  }

}

.modal-notice {
  margin:10px 0;
}


/**
* * Loading Letters Animation 
*/
.letter-loadind {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-top: 25vh;
}

.letter-loadind div {
  float: left;
  font-size: 14px;
  color: #777;
  animation-name: loadingF;
  animation-duration: 2.04s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}
.l-11 {animation-delay: 1.68s;}
.l-12 {animation-delay: 1.80s;}
.l-13 {animation-delay: 1.92s;}
.l-14 {animation-delay: 2.04s;}

@keyframes loadingF {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/**
* * featured image panel toggle
*/
.editor-post-featured-image + .components-button.editor-post-featured-image__toggle {
  margin-top:20px;
}